* {
	margin: 0;
	padding: 0;
}

.mainContainer {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.lightContainer {
	position: absolute;
	left: 50%;
	top: 3%;
	transform: translate(-50%, -50%);
}
.switchContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.nameContainer {
	display: flex;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	flex-direction: row;
}

.lightImg {
	height: 10vh;
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
		brightness(95%) contrast(80%);
}

.switchButton {
	border: none;
}
.switchButton:active {
	border: none;
}
